* {
  margin: 0;
}

header {
  background-color: gray;
  height: 100px;
  align-self: flex-start;
}

footer {
  background-color: gray;
  height: 100px;
  align-self: flex-end;
}

.container-abc {
  display: flex;
  height: 740px;
  padding: 15px 0 15px 0;
}

#container-a {
  background-color: aqua;
  flex-grow: 2;
  order: 2;
}
#container-b {
  background-color: rgb(217, 255, 0);
  flex-grow: 1;
  order: 1;
}
#container-c {
  background-color: rgb(255, 102, 0);
  flex-grow: 1;
  order: 3;
}

@media (max-width: 480px) {
  .container-abc {
    flex-direction: column;
  }
  #container-a {
    order: 1;
  }
  #container-b {
    order: 2;
  }
  #container-c {
    order: 3;
  }
}

@media (min-width: 481px) and (max-width: 780px) {
  .container-abc {
    flex-wrap: wrap;
  }
  #container-a {
    width: 100%;
    height: 60%;
    order: 1;
  }
  #container-b {
    height: 40%;
    width: 50%;
    order: 2;
  }
  #container-c {
    height: auto;
    width: 50%;
    order: 2;
  }
}
