* {
  margin: 0px;
}

#header {
  background-color: rgba(187, 110, 8, 0.384);
  height: 100px;
  width: 100%;
  top: 0;
}

.container-abc {
  display: flex;
  height: 740px;
  flex-direction: row;
  padding: 15px 0 15px 0;
}

.container-ab {
  width: 75%;
  height: inherit;
}
.container-a {
  background-color: rgb(255, 136, 0);
  height: 50%;
  width: auto;
}
.container-b {
  background-color: rgb(0, 183, 255);
  height: 50%;
  width: auto;
}
.container-c {
  background-color: rgb(229, 255, 0);
  height: inherit;
  width: 25%;
}
#footer {
  background-color: rgba(187, 110, 8, 0.384);
  height: 100px;
  bottom: 0;
}

@media (max-width: 768px) {
  .container-ab {
    width: 50%;
  }
  .container-c {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .container-abc {
    flex-direction: column;
  }
  .container-ab {
    width: 100%;
    height: 66.6%;
  }
  .container-c {
    width: 100%;
    height: 33.3%;
  }
}
